POSTGRES_USER: postgres
POSTGRES_PASSWORD: postgres123

DB_HOST=postgresql
DB_PORT=5432
DB_NAME=pbstxt
DB_USER=postgres
DB_PASSWORD=postgres123

OMDB_API_KEY=5443bd0c
HOST=postgresql
PGPORT=5432
PGDATABASE=cinetech_productions
PGUSER=postgres
PGPASSWORD=postgres123
